.friends-screen {
  padding: 25px;
  margin-bottom: 55px;
}

.margintop-line {
  border-top: var(--line);
  margin-top: 20px;
}

.friends-screen__column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.friends-screen__column {
  display: flex;
  align-items: center;
}

.header-margin {
  margin: 15px 0px 20px;
}

.friends-screen__sm-header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.friends-screen__profile-lg {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.friends-screen__profile-xl {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.birthday-profile__color {
  background-color: #e07379;
}

.recommended-friend-profile__color {
  background-color: #8979c0;
}

.chanel-profile__color {
  background-color: var(--yellow);
}

.friends-profile__color {
  background-color: #8eccdd;
}

.friends-screen__profile-lg {
  color: white;
  font-size: 25px;
}

.friends-screen-birthday__profile span {
  font-size: var(--profile);
}

.fa-comment {
  color: black;
}
.fa-user {
  color: #cbd6f1;
}

.friends-screen__friends:last-child {
  margin-bottom: 0px;
}

.friends-screen__columnm-margin__xl {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
