.screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px 15px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.screen-header__column span {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__column i {
  font-size: 22px;
  margin-left: 20px;
}
