.user-component {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 65px;
  height: 65px;
  border-radius: 20px;
  background-color: #a1b6e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.user-component__profile i {
  font-size: 35px;
}

.user-component__column span {
  font-size: var(--profile);
}

.user-component__column:last-child span {
  margin-right: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.user-component__column:last-child i {
  opacity: 0.4;
}

.chats-screen__margintop .user-component__column:last-child {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-component__text {
  display: flex;
  flex-direction: column;
}

.user-component-profile__title {
  font-weight: 500;
}

.user-component-profile__text {
  opacity: 0.4;
  font-size: 16px;
  margin-top: 10px;
}
